# If this is your first time writing a language grammar, check out:
#   - http://manual.macromates.com/en/language_grammars

'scopeName': 'source.db'
'name': 'EPICS Database'
'fileTypes': [
  'db'
]
'patterns': [
  {
    'match':  '(#.*)'
    'name':   'Comment'
  }

  {
    'comment': 'Record pattern'
    'match': '(record)(.*?)((?:[a-z][a-z0-9_]*))(.*?)("(.*?)")(.*?)(\\{)'
    'captures':
      '1':
       'name': 'storage'
      '3':
       'name': 'entity.name.class'
      '5':
        'name': 'entity.other.attribute-name'
  }

  {
    'comment': 'Field pattern'
    'match': '(field).*?\\((.*?)(\\w+).*?,.*?"(.+)".*?\\)'
    'captures':
      '1':
       'name': 'entity.name.function'
      '3':
       'name': 'variable'
      '4':
        'name': 'variable.parameter.function'
  }

]
